*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body{
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #111;
}

.card{
  background-color: rgb(141, 9, 31);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}